<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="MathsFilePath" value="C:\Users\DELL\Documents\Venkat\MY_PROJECT\TutorManager_Build\\levels\maths.txt" />
		<add key="RebuildDatabase" value="false" />
		<add key="ADMIN_REGISTRATION_KEY" value="Tutor2026" />
		<!-- Path where backups will be stored -->
		<add key="BackupPath" value="C:\Users\DELL\Documents\Venkat\MY_PROJECT\TutorManager_Build\\BackUp" />
	</appSettings>
</configuration>